h3{
    color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #4caf50;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #4caf50;
}

button {
    width: 100%;
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #45a049;
}